@import "tailwindcss";

@theme {
  --color-brand-900: #2e073f;
  --color-brand-700: #7a1cac;
  --color-brand-600: #5c3e94;
  --color-brand-500: #ad49e1;
  --color-brand-400: #816797;

  --color-surface-900: #262626;
  --color-surface-200: #e8e6de;
  --color-surface-100: #f7f7f7;
}

